@using System.ComponentModel
@using System.Xml.XPath
@inject HttpClient HttpClient
@inject ISaljiDaljeClient SaljiDaljeClient
@implements IAsyncDisposable
@inject IJSRuntime JS

<EditForm EditContext="EditContext" OnValidSubmit="PlaceAd">
<!-- Basic info-->
<section class="card card-light card-body border-0 shadow-sm p-4 mb-4" id="basic-info">
    <h2 class="h4 text-light mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>Basic info</h2>
    <div class="mb-3">
        <label class="form-label text-light" asp-for="BasicInfo.Title">Title <span class="text-danger">*</span></label>
        <InputText @bind-Value="SellCarModel.BasicInfo.Title" class="form-control form-control-light" autocomplete="off" type="text" placeholder="Title for your property"/>
        <span class="form-text text-light opacity-50">48 characters left</span>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label class="form-label text-light">Vehicle condition <span class="text-danger">*</span></label>
            <InputSelect @bind-Value="SellCarModel.BasicInfo.SpecificationAttributeOptionIdStateOptionId" class="form-select form-select-light">
                <option value="" disabled>Choose condition</option>
                @foreach (var item in SellCarModel.BasicInfo.VehicleCondition)
                {
                    <option value="@item.Value" selected="@(SellCarModel.BasicInfo.SpecificationAttributeOptionIdStateOptionId.ToString() == item.Value)">@item.Text</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-label text-light fw-bold pt-3 pb-2">Are you listing on Finder as part of a company?</div>
    <InputRadioGroup @bind-Value="SellCarModel.BasicInfo.SpecificationAttributeAdTypeIdStateOptionId">
        @foreach (var manufacturer in SellCarModel.BasicInfo.AdType)
        {
            <div class="form-check form-check-light">
                <InputRadio class="form-check-input" id="@manufacturer.Value" Value="manufacturer.Value" checked="@(manufacturer.Value == SellCarModel.BasicInfo.SpecificationAttributeAdTypeIdStateOptionId.ToString())"/>
                <label class="form-check-label" for="@manufacturer.Value">@manufacturer.Text</label>
            </div>
        }
    </InputRadioGroup>
</section>
<!-- Price-->
<section class="card card-light card-body border-0 shadow-sm p-4 mb-4" id="price">
    <h2 class="h4 text-light mb-4"><i class="fi-cash text-primary fs-5 mt-n1 me-2"></i>Price</h2>
    <label class="form-label text-light" for="@nameof(SellCarModel.Price)">Price <span class="text-danger">*</span></label>
    <div class="d-sm-flex mb-2">
        <select class="form-select form-select-light w-25 me-2 mb-2">
            <option value="usd">&#36;</option>
            <option value="eur">&#8364;</option>
            <option value="gbp">&#163;</option>
            <option value="jpy">&#165;</option>
        </select>
        <InputNumber class="form-control form-control-light w-100 me-2 mb-2" type="number" id="@nameof(SellCarModel.Price)" min="0" step="1" @bind-Value="SellCarModel.Price.SellCarPrice"/>
    </div>
    <div class="form-check form-switch form-switch-light">
        <InputCheckbox class="form-check-input" type="checkbox" id="@nameof(SellCarModel.Price.NegotiatedPrice)" @bind-Value="SellCarModel.Price.NegotiatedPrice"/>
        <label class="form-check-label" for="@nameof(SellCarModel.Price.NegotiatedPrice)">Negotiated price</label>
    </div>
</section>
<!-- Vehicle information-->
<section class="card card-light card-body border-0 shadow-sm p-4 mb-4" id="vehicle-info">
    <h2 class="h4 text-light mb-4"><i class="fi-car text-primary fs-5 mt-n1 me-2"></i>Vehicle information</h2>
    <div class="row pb-2">
        <div class="col-sm-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.Make)">Make <span class="text-danger">*</span></label>
            <InputSelect class="form-select form-select-light" id="@nameof(SellCarModel.VehicleInformation.Make)" @bind-Value="SellCarModel.VehicleInformation.MakeSpecificationOption">
                <option value="" disabled>Select make</option>
                @foreach (var item in SellCarModel.VehicleInformation.Make)
                {
                    <option value="@item.Value" selected="@(SellCarModel.VehicleInformation.MakeSpecificationOption.ToString() == item.Value)">@item.Text</option>
                }
            </InputSelect>
        </div>
        <div class="col-sm-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.Model)">Model <span class="text-danger">*</span></label>
            <InputSelect class="form-select form-select-light" for="@nameof(SellCarModel.VehicleInformation.Model)" @bind-Value="SellCarModel.VehicleInformation.ModelSpecificationOption">
                <option value="" disabled>Select model</option>
                @foreach (var item in model)
                {
                    <option value="@item.Value" selected="@(SellCarModel.VehicleInformation.ModelSpecificationOption == item.Value)">@item.Text</option>
                }
            </InputSelect>
        </div>
        <div class="col-md-3 col-sm-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.Year)">Year <span class="text-danger">*</span></label>
            <InputSelect class="form-select form-select-light" id="@nameof(SellCarModel.VehicleInformation.Year)" @bind-Value="SellCarModel.VehicleInformation.Year">
                <option value="" disabled>Select year</option>
                @foreach (var item in SellCarModel.VehicleInformation.YearOptions)
                {
                    <option value="@item.Value" selected="@(SellCarModel.VehicleInformation.Year.ToString() == item.Value)">@item.Text</option>
                }
            </InputSelect>
        </div>
        <div class="col-md-3 col-sm-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.Mileage)">Mileage <span class="text-danger">*</span></label>
            <InputNumber class="form-control form-control-light" type="number" id="@(SellCarModel.VehicleInformation.Mileage)" min="200" step="100" @bind-Value="SellCarModel.VehicleInformation.Mileage" placeholder="Enter mileage"/>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.VIN)">VIN</label>
            <InputText class="form-control form-control-light" type="text" id="@nameof(SellCarModel.VehicleInformation.VIN)" @bind-Value="SellCarModel.VehicleInformation.VIN" placeholder="Enter VIN code"/>
        </div>
    </div>
    <div class="border-top border-light mt-2 pt-4">
        <div class="row pb-2">
            <div class="col-md-6">
                <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.BodyTypeOption)">Body type <span class="text-danger">*</span></label>
                <InputSelect class="form-select form-select-light mb-3" id="@nameof(SellCarModel.VehicleInformation.BodyTypeOption)" @bind-Value="SellCarModel.VehicleInformation.BodyTypeOption">
                    <option value="" disabled>Select body type</option>
                    @foreach (var item in SellCarModel.VehicleInformation.BodyType)
                    {
                    <option value="@item.Value" selected="@(SellCarModel.VehicleInformation.BodyTypeOption == item.Value)">@item.Text</option>
                    }
                </InputSelect>
                <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.FuelTypeOption)">Fuel type <span class="text-danger">*</span></label>
                <InputSelect class="form-select form-select-light mb-3" id="@nameof(SellCarModel.VehicleInformation.FuelTypeOption)" @bind-Value="SellCarModel.VehicleInformation.FuelTypeOption">
                    <option value="" disabled>Select fuel type</option>
                    @foreach (var item in SellCarModel.VehicleInformation.FuelType)
                    {
                    <option value="@item.Value" selected="@(SellCarModel.VehicleInformation.FuelTypeOption == item.Value)">@item.Text</option>
                    }
                </InputSelect>
                @*<label class="form-label text-light" for="sc-engine">Engine <span class="text-danger">*</span></label>
                <select class="form-select form-select-light mb-3" id="sc-engine">
                    <option value="" disabled>Select engine</option>
                    <option value="1.5 Turbo 3 Cylinder Engine">1.5 Turbo 3 Cylinder Engine</option>
                    <option value="2.4L 4 Cylinder Engine">2.4L 4 Cylinder Engine</option>
                    <option value="3.5L 4 Cylinder Engine">3.5L 4 Cylinder Engine</option>
                    <option value="2.5L Turbo 6 Cylinder" selected>2.5L Turbo 6 Cylinder</option>
                </select>*@
                <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.TranmissionTypeOption)">Transmission <span class="text-danger">*</span></label>
                <InputSelect class="form-select form-select-light mb-3" id="@nameof(SellCarModel.VehicleInformation.TranmissionTypeOption)" @bind-Value="SellCarModel.VehicleInformation.TranmissionTypeOption">
                    <option value="" disabled>Select transmission</option>
                    @foreach (var item in SellCarModel.VehicleInformation.Tranmission)
                    {
                    <option value="@item.Value" selected="@(SellCarModel.VehicleInformation.TranmissionTypeOption == item.Value)">@item.Text</option>
                    }
                </InputSelect>
                <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.DriveTrainTypeOption)">Drivetrain <span class="text-danger">*</span></label>
                <InputSelect class="form-select form-select-light mb-3" id="@nameof(SellCarModel.VehicleInformation.DriveTrainTypeOption)" @bind-Value="SellCarModel.VehicleInformation.DriveTrainTypeOption">
                    <option value="" disabled>Select drivetrain</option>
                    @foreach (var item in SellCarModel.VehicleInformation.DriveTrain)
                    {
                    <option value="@item.Value" selected="@(SellCarModel.VehicleInformation.DriveTrainTypeOption == item.Value)">@item.Text</option>
                    }
                </InputSelect>
                <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.ColorTypeOption)">Color </label>
                <InputSelect class="form-select form-select-light" id="@nameof(SellCarModel.VehicleInformation.ColorTypeOption)" @bind-Value="SellCarModel.VehicleInformation.ColorTypeOption" placeholder="Enter color">
                    <option value="" disabled>Select color</option>
                    @foreach (var item in SellCarModel.VehicleInformation.Color)
                    {
                        <option value="@item.Value" selected="@(SellCarModel.VehicleInformation.ColorTypeOption == item.Value)">@item.Text</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>
    <div class="border-top border-light mt-2 pt-4">
        <label class="form-label text-light" for="@nameof(SellCarModel.VehicleInformation.Description)">Description </label>
        <InputTextArea class="form-control form-control-light" id="@nameof(SellCarModel.VehicleInformation.Description)" @bind-Value="SellCarModel.VehicleInformation.Description" rows="5" placeholder="Describe your vehicle"></InputTextArea><span class="form-text text-light opacity-50">3000 characters left</span>
    </div>
</section>
<!-- Features-->
<section class="card card-light card-body border-0 shadow-sm p-4 mb-4" id="features">
    <h2 class="h4 text-light mb-4"><i class="fi-check-circle text-primary fs-5 mt-n1 me-2"></i>Features</h2>
    <div class="mb-4">
        <label class="form-label d-block text-light fw-bold mb-2 pb-1">Sustav pomoći</label>
        <div class="row">
            @foreach(var item in SellCarModel.Features.SustavPomoći){
               <div class="col-sm-6">
                    <div class="form-check form-check-light">
                        <InputCheckbox class="form-check-input" type="checkbox" id="@item.Text" @bind-Value="item.Data"/>
                        <label class="form-check-label" for="@item.Text">@item.Text</label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="mb-4">
        <label class="form-label d-block text-light fw-bold mb-2 pb-1">Sigurnost putnika</label>
        <div class="row">
            @foreach(var item in SellCarModel.Features.SigurnostPutnika){
            <div class="col-sm-6">
                <div class="form-check form-check-light">
                    <InputCheckbox class="form-check-input" type="checkbox" id="@item.Text" @bind-Value="item.Data"/>
                    <label class="form-check-label" for="@item.Text">@item.Text</label>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="mb-4">
        <label class="form-label d-block text-light fw-bold mb-2 pb-1">Udobnost putnika</label>
        <div class="row">
            @foreach(var item in SellCarModel.Features.UdobnostPutnika){
                <div class="col-sm-6">
                    <div class="form-check form-check-light">
                        <InputCheckbox class="form-check-input" type="checkbox" id="@item.Text" @bind-Value="item.Data"/>
                        <label class="form-check-label" for="@item.Text">@item.Text</label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="mb-4">
        <label class="form-label d-block text-light fw-bold mb-2 pb-1">Svjetla i farovi</label>
        <div class="row">
            @foreach(var item in SellCarModel.Features.SvjetlaiFarovi){
                <div class="col-sm-6">
                    <div class="form-check form-check-light">
                        <InputCheckbox class="form-check-input" type="checkbox" id="@item.Text" @bind-Value="item.Data"/>
                        <label class="form-check-label" for="@item.Text">@item.Text</label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="mb-4">
        <label class="form-label d-block text-light fw-bold mb-2 pb-1">Zaštita od krađe</label>
        <div class="row">
            @foreach(var item in SellCarModel.Features.ZaštitaOdKrađe){
                <div class="col-sm-6">
                    <div class="form-check form-check-light">
                        <InputCheckbox class="form-check-input" type="checkbox" id="@item.Text" @bind-Value="item.Data"/>
                        <label class="form-check-label" for="@item.Text">@item.Text</label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="mb-4">
        <label class="form-label d-block text-light fw-bold mb-2 pb-1">Multimedia</label>
        <div class="row">
            @foreach(var item in SellCarModel.Features.Multimedia){
                <div class="col-sm-6">
                    <div class="form-check form-check-light">
                        <InputCheckbox class="form-check-input" type="checkbox" id="@item.Text" @bind-Value="item.Data"/>
                        <label class="form-check-label" for="@item.Text">@item.Text</label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="mb-4">
        <label class="form-label d-block text-light fw-bold mb-2 pb-1">Gume i naplatci</label>
        <div class="row">
            @foreach(var item in SellCarModel.Features.Gumeinaplatci){
                <div class="col-sm-6">
                    <div class="form-check form-check-light">
                        <InputCheckbox class="form-check-input" type="checkbox" id="@item.Text" @bind-Value="item.Data"/>
                        <label class="form-check-label" for="@item.Text">@item.Text</label>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="mb-4">
        <label class="form-label d-block text-light fw-bold mb-2 pb-1">Ostali dodaci</label>
        <div class="row">
            @foreach(var item in SellCarModel.Features.Ostalidodaci){
            <div class="col-sm-6">
                <div class="form-check form-check-light">
                    <InputCheckbox class="form-check-input" type="checkbox" id="@item.Text" @bind-Value="item.Data"/>
                    <label class="form-check-label" for="@item.Text">@item.Text</label>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<!-- Photos / video-->
<section class="card card-light card-body shadow-sm p-4 mb-4" id="photos">
    <h2 class="h4 text-light mb-4"><i class="fi-image text-primary fs-5 mt-n1 me-2"></i>Photos / video</h2>
    <div class="alert alert-warning bg-faded-warning border-warning mb-4" role="alert">
        <div class="d-flex">
            <i class="fi-alert-circle me-2 me-sm-3"></i>
            <p class="fs-sm mb-1">The maximum photo size is 8 MB. Formats: jpeg, jpg, png. Put the main picture first.<br>The maximum video size is 10 MB. Formats: mp4, mov.</p>
        </div>
    </div>
    <input name="ImageFile" class="file-uploader file-uploader-grid bg-faded-light border-light" type="file" multiple data-max-file-size="10MB" accept="image/png, image/jpeg, video/mp4, video/mov" data-label-idle="&lt;div class=&quot;btn btn-primary mb-3&quot;&gt;&lt;i class=&quot;fi-cloud-upload me-1&quot;&gt;&lt;/i&gt;Upload photos / video&lt;/div&gt;&lt;div class=&quot;text-light opacity-70&quot;&gt;or drag them in&lt;/div&gt;">
</section>
<!-- Location-->
<section class="card card-light card-body border-0 shadow-sm p-4 mb-4" id="location">
    <h2 class="h4 text-light mb-4"><i class="fi-map-pin text-primary fs-5 mt-n1 me-2"></i>Location</h2>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.Location.Županije)">Županija <span class="text-danger">*</span></label>
            <InputSelect class="form-select form-select-light" id="@nameof(SellCarModel.Location.Županije)" @bind-Value="SellCarModel.Location.ŽupanijeSpecificationOption">
                <option value="" disabled>Izaberi županiju</option>
                @foreach (var item in SellCarModel.Location.Županije)
                {
                <option value="@item.Value" selected="@(SellCarModel.Location.ŽupanijeSpecificationOption == item.Value)">@item.Text</option>
                }
            </InputSelect>
        </div>
        @*<div class="col-sm-6 mb-3">
            <label class="form-label text-light" for="sc-state">State <span class="text-danger">*</span></label>
            <select class="form-select form-select-light" id="sc-state" required>
                <option value="" disabled>Choose state</option>
                <option value="Alabama">Alabama</option>
                <option value="California">California</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Illinois" selected>Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Kansas">Kansas</option>
            </select>
        </div>*@
    </div>
    @*<div class="row">
        <div class="col-sm-8 mb-3">
            <label class="form-label text-light" for="sc-city">City <span class="text-danger">*</span></label>
            <select class="form-select form-select-light" id="sc-city" required>
                <option value="" disabled>Choose city</option>
                <option value="Chicago" selected>Chicago</option>
                <option value="Dallas">Dallas</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="New York">New York</option>
                <option value="San Diego">San Diego</option>
            </select>
        </div>
        <div class="col-sm-4 mb-3">
            <label class="form-label text-light" for="sc-zip">Zip code <span class="text-danger">*</span></label>
            <input class="form-control form-control-light" type="text" id="sc-zip" placeholder="Enter Zip code" value="60603" required>
        </div>
    </div>*@
    @*<div class="mb-3">
        <label class="form-label text-light" for="ap-address">Street address <span class="text-danger">*</span></label>
        <input class="form-control form-control-light" type="text" id="ap-address" value="1904 S Michigan Avenue" required>
    </div>*@
    <div class="form-label text-light fw-bold pt-3 pb-2">Display on the map</div>
    <div class="interactive-map rounded-3" data-map-options="{&quot;mapLayer&quot;: &quot;https://api.maptiler.com/maps/pastel/{z}/{x}/{y}.png?key=5vRQzd34MMsINEyeKPIs&quot;, &quot;coordinates&quot;: [41.75, -87.7], &quot;zoom&quot;: 9, &quot;scrollWheelZoom&quot;: false, &quot;markers&quot;: [{&quot;coordinates&quot;: [41.75, -87.7], &quot;className&quot;: &quot;custom-marker-dot&quot;, &quot;popup&quot;: &quot;&lt;div class='p-3'&gt;&lt;h6 class='fs-base'&gt;Mercedes-Benz E 400&lt;/h6&gt;&lt;p class='fs-xs text-muted pt-1 mt-n3 mb-0'&gt;1904 S Michigan Avenue, Chicago, IL&lt;/p&gt;&lt;/div&gt;&quot;}]}" style="height: 250px;"></div>
</section>
<!-- Contacts-->
<section class="card card-light card-body border-0 shadow-sm p-4 mb-4" id="contacts">
    <h2 class="h4 text-light mb-4"><i class="fi-phone text-primary fs-5 mt-n1 me-2"></i>Contacts</h2>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.Contacts.FirstName)">First name <span class="text-danger">*</span></label>
            <InputText class="form-control form-control-light" type="text" id="@nameof(SellCarModel.Contacts.FirstName)" @bind-Value="SellCarModel.Contacts.FirstName" placeholder="Enter your first name" />
        </div>
        <div class="col-sm-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.Contacts.LastName)">Second name <span class="text-danger">*</span></label>
            <InputText class="form-control form-control-light" type="text" id="@nameof(SellCarModel.Contacts.LastName)" @bind-Value="SellCarModel.Contacts.LastName" placeholder="Enter your second name" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.Contacts.EmailAddress)">Email<span class="text-danger">*</span></label>
            <InputText class="form-control form-control-light" type="text" id="@nameof(SellCarModel.Contacts.EmailAddress)" @bind-Value="SellCarModel.Contacts.EmailAddress" placeholder="Enter your email"/>
        </div>
        <div class="col-sm-6 mb-3">
            <label class="form-label text-light" for="@nameof(SellCarModel.Contacts.PhoneNumber)">Phone number <span class="text-danger">*</span></label>
            <InputText class="form-control form-control-light" type="tel" id="@nameof(SellCarModel.Contacts.PhoneNumber)" data-format="custom" data-delimiter="-" data-blocks="3 3 4" @bind-Value="SellCarModel.Contacts.PhoneNumber" placeholder="000-000-0000"/>
        </div>
    </div>
    <label class="form-label text-light" for="@nameof(SellCarModel.Contacts.WebSite)">Website</label>
    <InputText class="form-control form-control-light mb-3" type="text" id="@nameof(SellCarModel.Contacts.WebSite)" @bind-Value="SellCarModel.Contacts.WebSite" placeholder="Enter company name"/>
    <div class="text-light py-3">Social accounts</div>
    <div class="d-flex align-items-center mb-3">
        <div class="btn btn-icon btn-translucent-light btn-xs rounded-circle pe-none flex-shrink-0 me-3">
            <i class="fi-facebook"></i>
        </div>
        <input class="form-control form-control-light" type="text" placeholder="Your Facebook account">
    </div>
    <div class="d-flex align-items-center mb-3">
        <div class="btn btn-icon btn-translucent-light btn-xs rounded-circle pe-none flex-shrink-0 me-3">
            <i class="fi-linkedin"></i>
        </div>
        <input class="form-control form-control-light" type="text" placeholder="Your LinkedIn account">
    </div>
    <div class="d-flex align-items-center mb-3">
        <div class="btn btn-icon btn-translucent-light btn-xs rounded-circle pe-none flex-shrink-0 me-3">
            <i class="fi-twitter"></i>
        </div>
        <input class="form-control form-control-light" type="text" placeholder="Your Twitter account">
    </div>
    <div class="collapse" id="showMoreSocials">
        <div class="d-flex align-items-center mb-3">
            <div class="btn btn-icon btn-translucent-light btn-xs rounded-circle pe-none flex-shrink-0 me-3">
                <i class="fi-instagram"></i>
            </div>
            <input class="form-control form-control-light" type="text" placeholder="Your Instagram account">
        </div>
        <div class="d-flex align-items-center mb-3">
            <div class="btn btn-icon btn-translucent-light btn-xs rounded-circle pe-none flex-shrink-0 me-3">
                <i class="fi-pinterest"></i>
            </div>
            <input class="form-control form-control-light" type="text" placeholder="Your Pinterest account">
        </div>
    </div>
    <a class="nav-link-light collapse-label collapsed d-inline-block fs-sm fw-bold pt-2 pb-3" href="#showMoreSocials" data-bs-toggle="collapse" data-bs-label-collapsed="Show more" data-bs-label-expanded="Show less" role="button" aria-expanded="false" aria-controls="showMoreSocials">
        <i class="fi-arrow-down me-2"></i>
    </a>
</section>
<div class="d-sm-flex justify-content-between pt-2">
    <a class="btn btn-outline-light btn-lg d-block mb-3 mb-sm-2" href="#preview-modal" data-bs-toggle="modal"><i class="fi-eye-on ms-n1 me-2"></i>Preview</a>
    <button class="btn btn-primary btn-lg d-block mb-2" type="submit" disabled="@_isSubmitting">
        @if (_isSubmitting)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="ps-1">@_text</span>
        }
        else
        {
            @_text
        }
    </button>
</div>
</EditForm>

@code {
    bool _isSubmitting;
    private IJSObjectReference module = default!;
    string _text = "Save and continue";
    private EditContext EditContext = default!;
    private List<SpecificationOption> model = [];
    [Parameter] public SellCarModel SellCarModel { get; set; } = default!;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(SellCarModel);
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;
    }

    private async void EditContext_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        if (e.FieldIdentifier.FieldName == nameof(SellCarModel.VehicleInformation.MakeSpecificationOption))
        {
            var model = e.FieldIdentifier.Model as VehicleInformation;
            model.ModelSpecificationOption = string.Empty;
            //model.MakeSpecificationOption 
            var result = await HttpClient.PostAsJsonAsync("https://localhost:5001/SellCar/ChildrenCategories", new PostExample
            {
                id = Int32.Parse(model.MakeSpecificationOption)
            });

            this.model = await result.Content.ReadFromJsonAsync<List<SpecificationOption>>();

            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           await JS.InvokeVoidAsync("fileUploader");
           await JS.InvokeVoidAsync("interactiveMap");
           await JS.InvokeVoidAsync("pondSetOptions");
           module = await JS.InvokeAsync<IJSObjectReference>("import",
               $"./Pages/SellCarForm.razor.js?v={Guid.NewGuid().ToString()}");
           
        }
    }


    private async Task PlaceAd(EditContext obj)
    {
        var result = await module.InvokeAsync<string[]>("getFilepondInputFiles");
        _isSubmitting = true;
        _text = "Loading";
        StateHasChanged();
        
        var response = (await SaljiDaljeClient.HttpClient.PostAsJsonAsync($"https://localhost:5001/SellCar/StepTwoFinish/", obj.Model)).IsSuccessStatusCode;
        _isSubmitting = false;
        _text = "Save and continue";
        
        StateHasChanged();
        if (response)
        {
            await module.InvokeVoidAsync("navigate", "https://localhost:5001/");
        }
        //throw new NotImplementedException();
    }
    
    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }

}
